.carousel-container {
    text-align: center;
  }
  
  .slider-container {
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    max-width: 100%;
    overflow: hidden;
  }
  
  .slider-image {
    border-radius: 1rem;
    width: 35%;
    height: auto;
    max-height: 40vh;
    margin: 0 auto;
  }
  
  .arrow-button {
    position: absolute;
    top: 45%;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    border: none;
    background: #4B0082;
    
  }
  
  
  .arrow-button:focus {
    outline: none;
  }
  
  /* Responsive adjustments for portrait view */
  @media screen and (orientation: portrait) {
    
    .slider-image {
      width: 100%;
    }
  }
  