/* Carousel.css */

.carousel-container {
  text-align: center;
}

.slider-container {
  position: relative;
  
  margin-bottom: 2.5rem;
  max-width: 100%;
  overflow: hidden;
}

.slider-image {
  
  width: 100%; /* Updated to fit the width of the container */
  height: auto;
  max-height: 50vh;
  margin: 0 auto;
}

.arrow-button {
  display: none;
  position: absolute;
  top: 45%;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  border: none;
  background: none;
}

.arrow-button:focus {
  outline: none;
}

/* Responsive adjustments for portrait view */
@media screen and (orientation: portrait) {
  .arrow-button {
    display: block; /* Show arrow buttons in portrait mode */
  }
}
